@min_distance=0.1

#N
clk_i
rst_ni

uart_rx_i
uart_tx_o

#E
qspi_o\[3\]
qspi_i\[3\]
qspi_oe\[3\]

qspi_o\[2\]
qspi_i\[2\]
qspi_oe\[2\]

qspi_o\[1\]
qspi_i\[1\]
qspi_oe\[1\]

qspi_o\[0\]
qspi_i\[0\]
qspi_oe\[0\]

qspi_csn_o\[1\]
qspi_csn_o\[0\]

qspi_sck_o


#S

#W