@min_distance=0.1

#N
qspi_csn_IN\[0\]
qspi_csn_OUT\[0\]
qspi_csn_CS\[0\]  
qspi_csn_SL\[0\]  
qspi_csn_PU\[0\]  
qspi_csn_PD\[0\]  
qspi_csn_OE\[0\]  
qspi_csn_IE\[0\]  
qspi_csn_PDRV0\[0\]
qspi_csn_PDRV1\[0\]

qspi_csn_IN\[1\]
qspi_csn_OUT\[1\]
qspi_csn_CS\[1\]  
qspi_csn_SL\[1\]  
qspi_csn_PU\[1\]  
qspi_csn_PD\[1\]  
qspi_csn_OE\[1\]  
qspi_csn_IE\[1\]  
qspi_csn_PDRV0\[1\]
qspi_csn_PDRV1\[1\]

qspi_sck_IN
qspi_sck_OUT
qspi_sck_CS  
qspi_sck_SL  
qspi_sck_PU  
qspi_sck_PD  
qspi_sck_OE  
qspi_sck_IE  
qspi_sck_PDRV0
qspi_sck_PDRV1


#E
qspi_io_IN\[0\]
qspi_io_IN\[1\]
qspi_io_IN\[2\]
qspi_io_IN\[3\]

qspi_io_OUT\[0\]
qspi_io_OUT\[1\]
qspi_io_OUT\[2\]
qspi_io_OUT\[3\]

qspi_io_OE\[0\]  
qspi_io_OE\[1\]  
qspi_io_OE\[2\]  
qspi_io_OE\[3\]  

qspi_io_IE\[0\]  
qspi_io_IE\[1\]  
qspi_io_IE\[2\]  
qspi_io_IE\[3\]  

qspi_io_CS\[0\]
qspi_io_SL\[0\]  
qspi_io_PU\[0\]  
qspi_io_PD\[0\]  
qspi_io_PDRV0\[0\]
qspi_io_PDRV1\[0\] 

qspi_io_CS\[1\]
qspi_io_SL\[1\]  
qspi_io_PU\[1\]  
qspi_io_PD\[1\]  
qspi_io_PDRV0\[1\]
qspi_io_PDRV1\[1\] 

qspi_io_CS\[2\]
qspi_io_SL\[2\]  
qspi_io_PU\[2\]  
qspi_io_PD\[2\]  
qspi_io_PDRV0\[2\]
qspi_io_PDRV1\[2\] 

qspi_io_CS\[3\]
qspi_io_SL\[3\]  
qspi_io_PU\[3\]  
qspi_io_PD\[3\]  
qspi_io_PDRV0\[3\]
qspi_io_PDRV1\[3\] 


#S

#W
clk
clk_PU
clk_PD

rst_n
rst_n_PU
rst_n_PD

uart_rx
uart_rx_PU
uart_rx_PD

uart_tx_IN
uart_tx_OUT
uart_tx_CS  
uart_tx_SL  
uart_tx_PU  
uart_tx_PD  
uart_tx_OE  
uart_tx_IE  
uart_tx_PDRV0
uart_tx_PDRV1
