# except final layout files

runs/
__pycache__/
gf180mcu/
gf180_drc.lyrdb
sim_build/
final/*

macros/**/final/*
!macros/**/final/gds/
!macros/**/final/gds/*
!macros/**/final/pnl/
!macros/**/final/pnl/**
!macros/**/final/metrics.json

img/
*.lyrdb
.ipynb_checkpoints/

.direnv