# except final layout files

runs/
__pycache__/
gf180mcu/
gf180_drc.lyrdb
sim_build/
final/*

macros/**/final/*
!macros/**/final/gds/
!macros/**/final/gds/*
!macros/**/final/pnl/
!macros/**/final/pnl/**
!macros/**/final/metrics.json
!macros/**/final/sta.rpt

final/*
# !final/gds/
# !final/gds/*
# !final/pnl/
# !final/pnl/**
!final/metrics.json
!final/sta.rpt

transcript

img/
*.lyrdb
.ipynb_checkpoints/

.direnv